body {
  background-image: url(/assets/img/p6.png);
}
#leader {
  height: 260px;
  background-color: #674069;
  color: white;
  overflow: hidden;
}
#leader h1 {
  text-indent: -99999999px;
  background: url(/assets/img/logo.png) center center no-repeat;
  width: 100%;
  height: 210px;
  background-size: 100%;
}
.navbar {
  border-radius: 0;
}
.navbar .logo a {
  margin: 12px 15px;
  padding: 0;
  height: 26px;
  width: 26px;
}
.navbar .prismic a {
  background: url(/assets/img/prismic_small_desat.png);
}
.navbar .prismic a:hover {
  background: url(/assets/img/prismic_small.png);
}
.navbar .laravel a {
  background: url(/assets/img/laravel_small_desat.png);
}
.navbar .laravel a:hover {
  background: url(/assets/img/laravel_small.png);
}
.math-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.math-header h3 {
  font-weight: 300;
}
.math-header .math {
  font-size: 130px;
  font-weight: 100;
}
.math-header a {
  color: black;
}
.alt {
  background-color: #674069;
  color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.alt .lead {
  margin-top: 20px;
}
p {
  margin-bottom: 20px;
}
