body {
  background-image: url(/assets/img/p6.png);
}
#leader {
  height: 260px;
  background-color: #674069;
  color: white;
  overflow: hidden;
}
#leader h1 {
  margin-top: 0;
  text-align: center;
  font-weight: 100;
  font-size: 210px;
}
.navbar {
  border-radius: 0;
}
.navbar .logo a {
  margin: 12px 15px;
  padding: 0;
  height: 26px;
  width: 26px;
}
.navbar .prismic a {
  background: url(/assets/img/prismic_small_desat.png);
}
.navbar .prismic a:hover {
  background: url(/assets/img/prismic_small.png);
}
.navbar .laravel a {
  background: url(/assets/img/laravel_small_desat.png);
}
.navbar .laravel a:hover {
  background: url(/assets/img/laravel_small.png);
}
